* {
    font-family: 'Roboto', sans-serif;
}

dl, ol, ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 98vh;
    height: 98vh;
}

/*header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.navbar-header {
    display: flex;
    align-items: center;
}

.navbar-items {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.navbar-items_item {
    display: inline-block;
    padding: 10px;
    font-weight: 700;
    color: #7c7c7c;
}

.navbar-items_item.active {
    color: #000;
}

.navbar-items_item a:hover {
    border-bottom: 3px solid #000;
}

.navbar-items-burger {
    display: none;
}

/*page*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
}

.container {
    display: flex;
    align-items: center;
    width: 86%;
    height: 100%;
    border: 2px solid black;
    border-radius: 7px;
}

.container.center {
    justify-content: center;
}

.container.sb {
    justify-content: space-between;
}

/*index*/

.intro {
    width: 90%;
}

.intro div {
    margin: 7px 0;
}

.intro-greeting {
    font-size: 1.3rem;
    font-weight: 300;
}

.intro-name {
    font-size: 2.4rem;
    font-weight: 600;
}

.intro-extra {
    font-size: 1.5rem;
}

.word {
    display: none;
    visibility: hidden;
}

.word.active {
    display: inline-block;
    visibility: visible;
}

.intro a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 125px;
    margin: 10px 0;
    padding: 5px;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    fill: #fff;
    color: #fff;
}

.intro a span {
    margin: 0 10px;
}

/*about me*/

.arrow {
    flex-basis: 5%;
    display: flex;
    justify-content: center;
}

.arrow.prev {
    justify-content: flex-end;
}

.arrow.next {
    justify-content: flex-start;
}

.arrow svg:hover {
    cursor: pointer;
}

.about {
    flex-basis: 80%;
    display: flex;
    justify-content: center;
}

.about div {
    display: none;
}

.about .active {
    display: unset;
}

.about-me.active {
    display: block;
    width: 70%;
    text-align: center;
    font-size: 1.05rem;
}

.about-me p {
    color: #5f6067;
}

.about-me div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 0 10px 0;
}

.about-me div a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 5px;
    border-radius: 5px;
    fill: #000;
    color: #000;
}

.about-me div a span {
    margin-left: 10px;
}

.about-me div a:hover span {
    text-decoration: underline;
}

.skills.active {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.05rem;
}

.skills .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 40%;
}

.skills .text p {
    color: #5f6067;
}

.skills .visual {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 50%;
}

.visual .box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    transition: background-color .3s, fill .3s;
    position: relative;
}

.tooltip {
    visibility: hidden;
    width: 100px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border: 1px solid #484545;
    border-radius: 5px;
    padding: 5px 0;
    transition: visibility .15s, background-color .3s, color .3s;

    position: absolute;
    z-index: 1;
    bottom: 110%;
 }

.tooltip:hover {
    background-color: #000;
    color: #fff;
}

.visual .box:hover {
    background-color: #000;
    fill: #fff;
    box-shadow: -7px -7px 7px #fff, 10px 10px 25px #aeaec0;
}

.box:hover .tooltip {
    visibility: visible;
}

.education.active {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.05rem;
}

.education .text {
    display: block;
    width: 100%;
}

.education .text .holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.education .text .holder .box {
    display: block;
    margin: 20px 0;
}

.education .text .holder .box span {
    display: block;
    color: #4d4d4d;
    transition: color .3s;
}

.education .text .holder .box:hover span {
    color: #000;
}

.education .text .holder .box .time {
    font-size: 1.15em;
}

.work-experience.active {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.05rem;
}

.work-experience .text {
    display: block;
    width: 100%;
}

.work-experience .text .holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.work-experience .text .holder .box {
    display: block;
    margin: 20px 0;
}

.work-experience .text .holder .box span {
    display: block;
    color: #4d4d4d;
    transition: color .3s;
}

.work-experience .text .holder .box:hover span {
    color: #000;
}

.work-experience .text .holder .box .time {
    font-size: 1.15em;
}

/*work*/

.work {
    flex-basis: 80%;
    display: flex;
    justify-content: center;
}

.work div {
    display: none;
}

.work .active {
    display: unset;
}

.projects.active {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.05rem;
}

.projects .text {
    display: block;
    width: 100%;
}

.projects .text .holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.projects .text .holder .box {
    display: block;
    margin: 20px 0;
    width: 35%;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    transition: box-shadow .3s;
}

.projects .text .holder .box:hover {
    box-shadow: -7px -7px 7px #fff, 10px 10px 25px #aeaec0;
}

.projects .text .holder .box.desc {
    flex-basis: 60%;
    background-color: rgba(0, 0, 0, 100%);
    color: rgba(255, 255, 255, 100%);
    border: none;
    transition: visibility .3s, background-color .3s, color .3s, box-shadow .3s;
}

.projects .text .holder .box.desc span.title{
    margin: 10px 0;
}

.projects .text .holder .box.desc span.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65%;
    font-size: 0.9em;
    font-weight: 300;
}

.projects .text .holder .box button {
    height: 25px;
    width: 100%;
    background: transparent;
    border: none;
    text-align: right;
    font-size: 0.8em;
    visibility: hidden;
}

.projects .text .holder .box.desc button {
    color: #fff;
    visibility: hidden;
}

.projects .text .holder .box button:hover {
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
}

.projects .text .holder .box span {
    display: block;
    padding: 5px;
}

.projects .text .holder .box .img img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #000;
}

.projects .text .holder .box .title {
    font-size: 1em;
    font-weight: 700;
}

.projects .text .holder .box .link a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #000;
    border-radius: 5px;
    fill: #fff;
    color: #fff;
}

/*contact*/

.contact {
    flex-basis: 80%;
    display: flex;
    justify-content: center;
}

.contact .text {
    width: fit-content;
    min-width: 350px;
    text-align: center;
    padding: 50px;
    background-color: #000;
    color: #fff;
    transition: background-color.2s, color .2s;
}

.contactList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 200px;
}

.contactList a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactList a svg {
    width: 30px;
}

.contactList a svg path {
    transition: fill .2s, stroke .2s;
}

.contactList a span {
    width: 300px;
    text-align: left;
}

.contactList a:hover span {
    text-decoration: underline;
}

.contactList a svg path {
    fill: #000;
    stroke: #fff;
}

.contactList .email svg path:last-child {
    fill: #000;
    stroke: #fff;
}

.contactList a:hover svg path {
    fill: #fff;
    stroke: #fff;
}

.contactList .email:hover svg path:last-child {
    fill: #fff;
    stroke: #000;
}

/*responsiveness*/

@media screen and (max-width: 560px) {

    /*work*/

    .projects .text .holder .box {
        width: 100%;
        display: none;
    }

    .projects .text .holder .box.active {
        display: block;
    }

    .projects .text .holder .box.active button {
        visibility: visible;
    }

    .projects .text .holder .box.desc.active {
        width: 100%;
        flex-basis: 100%;
        height: 313px;
    }

    /*contact*/

    .contact .text {
        padding: 10%;
        background-color: transparent;
        color: #000;
    }

    .contactList a svg path {
        fill: #fff;
        stroke: #000;
    }

    .contactList .email svg path:last-child {
        fill: #fff;
        stroke: #000;
    }

    .contactList a:hover svg path {
        fill: #000;
        stroke: #000;
    }

    .contactList .email:hover svg path:last-child {
        fill: #000;
        stroke: #fff;
    }
}

/*footer*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

footer small {
    font-weight: 700;
    margin-right: 20px;
}

footer span {
    font-size: 1.2em;
}

.footer-items {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.footer-items_item {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
}